<script type="text/javascript">
    (function(c,l,a,r,i,t,y){
        c[a]=c[a]||function(){(c[a].q=c[a].q||[]).push(arguments)};
        t=l.createElement(r);t.async=1;t.src="https://www.clarity.ms/tag/"+i;
        y=l.getElementsByTagName(r)[0];y.parentNode.insertBefore(t,y);
    })(window, document, "clarity", "script", "kzyezopl69");

    var hitokototxt = "正在获取一言...";
    var hitokotourl = "";
    window.onload = function () {
        var element = document.getElementById('welcome-text');
        if (element) {
            getHitokoto()
        }
    }
    function getHitokoto() {
        fetch('https://v1.hitokoto.cn/?c=i')
            .then(response => response.json())
            .then(data => {
                const hitokoto = document.querySelector('#hitokoto_text')
                hitokototxt = data.hitokoto
                hitokotourl = `https://hitokoto.cn/?uuid=${data.uuid}`
            })
            .catch(console.error)
    }

    setTimeout(function () {
        var welcomeText = document.getElementById('welcome-text');
        welcomeText.classList.add('fade-out'); // 添加淡出动画
        setTimeout(function () {
            welcomeText.href = hitokotourl
            welcomeText.innerHTML = hitokototxt
            welcomeText.classList.remove('fade-out'); // 移除淡出动画
            welcomeText.classList.add('fade-in'); // 添加淡入动画
        }, 1000); // 等待 1 秒钟
    }, 3000); // 等待 3 秒钟
</script>

<style>
    :root {
        --article-font-family: "LXGW Bright", var(--base-font-family);
        --sys-font-family: "LXGW Bright";
	    --zh-font-family: "LXGW Bright";
	    --base-font-family: "LXGW Bright";
	    --article-font-family: "LXGW Bright",var(--base-font-family);
    }
</style>
<link rel='stylesheet' href='https://chinese-fonts-cdn.netlify.app/packages/jxzk/dist/江西拙楷/result.css' />
<link rel='stylesheet' href='https://chinese-fonts-cdn.netlify.app/packages/lxgwwenkaibright/dist/LXGWBright-Regular/result.css' /> 